<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
            </div>
            <h1>Tailwind CSS</h1>

        </div>

    </div>

    <div class="main">

        <div class="rich-text max-w-3xl">

            <p>
                As per the official page of Tailwind CSS, it is a highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke
                designs without any annoying opinionated styles you have to fight to override.
            </p>
            <p>
                To simply put, Tailwind provides helper classes for almost every CSS rule available.
            </p>
            <p>
                Treo includes Tailwind by default and it can be used in any part of the theme. Majority of Treo's pages and apps still use the traditional styling with
                ids and classes but they can be easily improved and modified using Tailwind. If you choose to use Tailwind as your main styling framework and don't want to use
                traditional ids and classes for styling, you can always create apps and pages and use the helper classes from Tailwind to style them.
            </p>
            <p>
                You can also choose to use Tailwind as a helper classes utility rather than your main style framework. Basically, you would still create id/class based styles
                for complex styling and layouts and use only certain parts of the Tailwind to modify your styles, like quickly adding <b>margin</b> and <b>padding</b> to the
                elements, or <b>showing</b> and/or <b>hiding</b> them based on breakpoints to create better mobile/table layouts without writing media queries all the time.
            </p>

            <h2>Official docs</h2>
            <p>
                Official Tailwind CSS documentation:
                <a class="link"
                   href="https://tailwindcss.com/"
                   rel="noreferrer"
                   target="_blank">https://tailwindcss.com/</a>
            </p>

        </div>

    </div>

</div>
