@import 'treo';

inventory {

}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    inventory {
        @if (not $is-dark) {
            background: map-get($background, card);
        }
    }
}
