<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
            </div>
            <h1>Angular Material</h1>

        </div>

    </div>

    <div class="main">

        <div class="rich-text max-w-3xl">

            <p>
                Treo uses <a class="link"
                                 href="https://material.angular.io/components/categories"
                                 rel="noreferrer"
                                 target="_blank">Angular Material</a> as its primary user interface library. It offers form controls,
                buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
                widely used components.
            </p>
            <p>
                Even though Treo doesn't follow Google's Material design specifications, Angular Material
                is one of the best Angular component libraries out there and since it's developed and maintained
                by Google itself, it offers the best compatibility and support for Angular.
            </p>
            <p>
                Treo is 100% compatible with all Angular Material components.
            </p>

            <h2>Component examples and API documentation</h2>
            <p>
                Because it makes this demo app very heavy and unusable, we don't showcase any of the components
                within this demo. It also makes it harder for us to upgrade to the latest version of the Angular
                Material whenever there is a new version, simply because we have to update all the component demos
                as well, and it's not an easy task.
            </p>
            <p>
                With that being said, you should always refer to the official docs, they always have the latest version
                up and running so you won't end up with an outdated examples and/or API documentation.
            </p>

            <h2>Official docs</h2>
            <p>
                Angular Material examples and API documentation:
                <a class="link"
                   href="https://material.angular.io/components/categories"
                   rel="noreferrer"
                   target="_blank">https://material.angular.io/components/categories</a>
            </p>

        </div>

    </div>

</div>
